@import './mixins';

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  color: $secondary;
  background: white;
  line-height: 1.6;
  font-family:
    Montserrat,
    Roboto,
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @include q-small {
    transition: all 0.3s ease-in-out;
    &.menu-open {
      transform: translateX(-280px) !important;
      
    }
  }
}
