@import './mixins';

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  color: $secondary;
  background: white;
  line-height: 1.2;
  font-family:
    Montserrat,
    Roboto,
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icb--titulo {
  font-size: 30px;
  font-weight: 700;
  line-height: 37px;
  text-decoration: underline;
  text-decoration-color: $primary;
  text-decoration-thickness: 4px;
  margin-bottom: 15px;
  @include q-medium {
    font-size: 60px;
    line-height: 64px;
    text-decoration-thickness: 6px;
    margin-bottom: 25px;
  }
}
